:root {
  --body-text: #333;
  --body-bg: #fff;
  --a: #027eea;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --body-text: rgb(223, 223, 223);
    --body-bg: rgb(0, 0, 0);
    --a: #0884fe;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--body-text);
  background-color: var(--body-bg);
}

code {
  font-family: Monaco, source-code-pro, Menlo, Consolas, 'Courier New', monospace;
}
